<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Try to avoid this showing up in search results if accidently made public -->
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    
    <title>CloudMapper IAM Report</title>
    
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/lato.css" rel="stylesheet">

    <link href="/css/report.css" rel="stylesheet">

    <link href="/css/font-awesome.css" rel="stylesheet">

    <script src="/js/chart.js"></script>
    <script src="/js/iam_report.js"></script>

    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 64x64" type="image/vnd.microsoft.icon">
</head>

<body>
        <div class="stretchforfooter">
            <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="https://summitroute.com"></a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav navbar-right">
                            <li><h1>CloudMapper IAM Report</h1><i class="muted">Report developed by <a href="https://summitroute.com/">Summit Route</a></i></li>
                        </ul>
                    </div>
                </nav>
            </div>
    
            <hr class="gradient">
    
              <div class="container">
            <div class="row">
    
    <div class="content, report">
        <div class="row">
            <div class="col-sm-12">
            

